html {
  font-family: "Rubik", sans-serif;
}

.bg-image {
  background-image: url("../images/bg-image4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-colour {
  background-color: rgba(255, 255, 255, 0.75);
}

.logo {
  width: 10em;
  margin-bottom: 1.5em;
}

h4 {
  color: #b7372d;
}

p {
  color: #37323e;
}

@media only screen and (min-width: 60em) {

  .bg-image {
    height: 100vh;
  }

  .bg-colour {
    height: 100vh;
  }

}
